@{
    ViewData["Title"] = "Home Page";
}

<h2>Create Bpkb</h2>

<form asp-action="Create" method="post">
    <div class="form-group" style="padding-top: 15px;">
        <label for="AgreementNumber">Agreement Number</label>
        <input type="text" class="form-control" id="AgreementNumber" name="AgreementNumber" required />
    </div>
    <div class="form-group" style="padding-top: 15px;">
        <label for="BranchId">Branch ID</label>
        <input type="text" class="form-control" id="BranchId" name="BranchId" required />
    </div>
    <div class="form-group" style="padding-top: 15px;">
        <label for="BpkbNo">No. BPKB</label>
        <input type="text" class="form-control" id="BpkbNo" name="BpkbNo" required />
    </div>
    <div class="form-group" style="padding-top: 15px;">
        <label for="BpkbDate">Tanggal BPKB</label>
        <input type="datetime-local" class="form-control" id="BpkbDate" name="BpkbDate" required />
    </div>
    <div class="form-group" style="padding-top: 15px;">
        <label for="FakturNo">No Faktur</label>
        <input type="text" class="form-control" id="FakturNo" name="FakturNo" required />
    </div>
    <div class="form-group" style="padding-top: 15px;">
        <label for="FakturDate">Tanggal Faktur</label>
        <input type="datetime-local" class="form-control" id="FakturDate" name="FakturDate" required />
    </div>
    <div class="form-group" style="padding-top: 15px;">
        <label for="PoliceNo">Nomor Polisi</label>
        <input type="text" class="form-control" id="PoliceNo" name="PoliceNo" required />
    </div>
    <div class="form-group" style="padding-top: 15px;">
        <label for="LocationId">Lokasi Penyimpanan</label>
        <select class="form-control" id="LocationId" name="LocationId">
           @*  @foreach (var location in ViewBag.Locations)
            {
                <option value="@location.LocationId">@location.LocationName</option>
            } *@
        </select>
    </div>
    <div style="padding-top: 15px; padding-left: 250px;"> 
        <button type="cancel" class="btn btn-primary" style="width: 300px;">Cancel</button>
        <button type="save" class="btn btn-primary" style="width: 300px;">Save</button>
    </div>
</form>
